<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
    
    <head>
        <title>Home</title>
        <meta charset="UTF-8">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>añadir nueva pelicula</h1>

        <a th:href="@{/}"> regresar a la cartelera</a>

        <br/>
        <form th:action="@{/guardarPelicula}"
              method="post"
              th:object="{pelicula}">
            
            <label for="nombre"> nombre de la pelicula:</label>
            <input type="text" name="nombre" th:field="*{nombre}"/>
            <br/>
              <label for="precio"> precio de entrada:</label>
            <input type="text" name="precio" th:field="*{precio}"/>
            <br/>
              <label for="fecha"> fecha disponible de la pelicula:</label>
            <input type="text" name="fecha" th:field="*{fecha}"/>
            <br/>
            
            <input type="submit" name="guardar" value="Guardar"/>
            
            
         
        </form>
        
</body>
</html>
